.grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, 480px);

   &__item {
      width: 480px;
      height: 480px;
      padding: 125px 0 0 100px;
      color: white;

      &--dark-blue {
         background-color: #22356F;
      }

      &--navy-blue {
         background-color: #0052C1;
      }

      &--jmg {
         background-image: url('./../images/grid-jmg.png');
      }

      &--blue {
         background-color: #62D0DF;
      }

      &--grey {
         background-color: #DEE1FF;
      }

      &--violet {
         background-color: #8F00FF;
      }
   }

   &__subtitle {
      position: relative;
      font: 700 32px "LarsseitBold";
      letter-spacing: -0.5px;
      max-width: 190px;

      &::before {
         content: "";
         position: absolute;
         width: 9px;
         height: 9px;
         border-radius: 4.5px;
         background-color: #E9B730;
         top: 15px;
         left: -30px;
         -webkit-border-radius: 4.5px;
         -moz-border-radius: 4.5px;
         -ms-border-radius: 4.5px;
         -o-border-radius: 4.5px;
      }

      &::after {
         content: "";
         position: absolute;
         width: 340px;
         height: 2px;
         background-color: white;
         top: -35px;
         left: -30px;

      }
   }

   &__item-1 {
      width: 480px;
      height: 240px;
      padding-top: 70px;
      color: #22356F;

   }

   &__item-1-wrap {
      max-width: 300px;
      padding-left: 15px;
      margin: 0 auto;
   }

   &__subtitle-1 {
      font: 400 28px "Larsseit";
      letter-spacing: -1px;
      margin-bottom: 30px;
   }

   &__text-1 {
      font: 400 16px "Larsseit";
      line-height: 28px;
      letter-spacing: -0.5px;
   }
}