.services {
   background-color: #62D0DF;

   &__wrap {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      padding: 155px 0 75px;
      margin: 0 auto;
      flex: 0 1 555px;
   }

   &__title {
      margin: 0 0 85px;
      font: 700 36px "LarsseitBold";
      color: white;
   }

   &__text {
      max-width: 555px;
      font: 400 20px "Larsseit";
      color: white;
      line-height: 34px;
   }

   &__font-size {
      font: 700 24px "LarsseitBold";
      line-height: 36px;
   }

   &__img {
      object-fit: cover;
      max-width: 100%;
   }
}