.header {
   background: linear-gradient(#F4F9E2, #F7F9EE);

   &__inner {
      padding: 20px 130px 0 180px;
      position: relative;

      &::before {
         content: "";
         width: 810px;
         height: 545px;
         border-radius: 300px;
         // border: 2px solid black;
         position: absolute;
         transform: rotate(-65grad);
         top: 45px;
         right: -135px;
         background: #EDFDFF center no-repeat;
         // z-index: 1;
      }

      &::after {
         content: "";
         width: 810px;
         height: 545px;
         border-radius: 300px;
         position: absolute;
         transform: rotate(-33grad);
         top: 110px;
         right: -155px;
         background: url('./../images/header-bg-img-deg.png') no-repeat;
         background-position: -205px -305px;
         // z-index: 3;
      }
   }

   &__container {
      position: relative;
      overflow: hidden;

      // &::after {
      //    content: "";
      //    width: 395px;
      //    height: 840px;
      //    position: absolute;
      //    top: 0;
      //    right: -70px;
      //    background-color: white;
      // }
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 170px;
   }

   &__title {
      max-width: 460px;
      font: 700 48px "LarsseitBold";
      color: #22356F;
      margin: 40px 0 65px;
      letter-spacing: -2px;
   }

   &__text {
      max-width: 485px;
      font: 500 24px "LarsseitMedium";
      color: #22356F;
      line-height: 45px;
      margin-bottom: 50px;
   }

   &__logo {
      font: 500 24px "LarsseitMedium";
      color: #62D0DF;
      letter-spacing: -1px;
   }

   &__button {
      width: 150px;
      height: 50px;
      border: none;
      border-radius: 25px;
      background-color: #62D0DF;
      font: 700 14px "LarsseitBold";
      color: white;
      cursor: pointer;
      z-index: 999;
   }

   &__links {
      display: flex;
      // margin-bottom: 75px;
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 50px;
      font: 700 14px "LarsseitBold";
      letter-spacing: 3px;
      color: #F9B640;
      margin-right: 25px;
      margin-bottom: 75px; 

      &:last-child {
         margin-right: 0;
      }

      &--orange {
         color: white;
         background-color: #F9B640;
      }
   }
}